.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10vw;
    .link{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .linkSelected{
        text-decoration: underline 3px  rgb(255, 166, 0);
    }
}
@media only screen and (max-width: 700px) {
    .header{
        flex-direction: column;
    }
}