*{
  margin: 0;
  padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #F1F3F4;
  min-height: 100vh;
}
a, button{
  cursor: pointer;
  color: unset;
  text-decoration: none;
}
a:hover, button:hover{
  opacity: .8;
}
#root{
  min-height: 100vh;
}